*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: slateblue;
}
.title{
    text-align: center; 
}
.title h1{
    margin-top: 50px;
    font-family: 'Anton', sans-serif;
}



.game-area{
    width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 200px;
    background-color: rgb(122, 112, 144);
    background-image: url('imgs/wood.jpg');
    background-size: cover;
    background-position: center;
    height: 840px;
    border-radius: 25px;
    perspective: 1000px;
    display: flex;
    text-align: center;
}
.card-grid{
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    height: 720px;
    margin-left: 50px;
    margin-top: 50px;
}
.card{
    margin: auto;
    width: 24%;
    height: 33%;
    margin-top: 10px;
    position: relative;
    transform-style: preserve-3d;
    transition: .3s;
}
.card:active{
    transform: scale(.98);
    transition: transform .1s;
}
.card.flip{
    transform: rotateY(180deg);
}
.cardbacks{
    margin: auto;
    width:85%;
    height:100%;
    border-radius: 25px;
    box-sizing: border-box;
    border:3px solid white;
    position: absolute;
    backface-visibility: hidden;

}
.cardfaces{
    margin: auto;
    width:85%;
    height:100%;
    border-radius: 25px;
    box-sizing: border-box;
    border:3px solid white;
    transform: rotateY(180deg);
    
}
